$avenir: 'Avenir', sans-serif;
$white:#ffffff;
$green: #0A7742;
$gray: #DBDBDB;
$trans: .3s ease;
$black: #1a1a1a;
$border-color:#47a76e;
*{
    // preloader
   
    // preloader end
    header{
        transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out!important;
    }
    .dropdown-toggle::after {
        display: none!important;
        margin-left:0!important;
        vertical-align: 0!important;
        content: none!important;
        border-top: 0!important;
        border-right: 0!important;
        border-bottom: 0!important;
        border-left: 0!important;
    }
    .avenir{
        font-family: $avenir;
        color: $green;
    }

    .bg_nav_white {
        background-color: white;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar-toggler:focus {
        outline: none!important; 
        box-shadow:none!important;
      }
      // humberger menu
    .wrapper{
        .nav-icon-5{
            width: 35px;
            height: 30px;
            position: relative;
            cursor: pointer;
            display: inline-block;
        }
        .nav-icon-5 span{
            background-color:#212529;
            position: absolute;
            border-radius: 2px;
            transition: .3s cubic-bezier(.8, .5, .2, 1.4);
            width:100%;
            height: 3px;
            transition-duration: 500ms
        }
        .nav-icon-5 span:nth-child(1){
            top:0px;
            left: 0px;
        }
        .nav-icon-5 span:nth-child(2){
            top:13px;
            left: 0px;
            opacity:1;
        }
        .nav-icon-5 span:nth-child(3){
            bottom:0px;
            left: 0px;
        }
        .nav-icon-5:not(.open):hover span:nth-child(1){
            transform: rotate(0deg) scaleY(1.1);
        }
        .nav-icon-5:not(.open):hover span:nth-child(2){
            transform: rotate(0deg) scaleY(1.1);
        }
        .nav-icon-5:not(.open):hover span:nth-child(3){
            transform: rotate(0deg) scaleY(1.1);
        }
        .nav-icon-5.open span:nth-child(1){
            transform: rotate(45deg);
            top: 13px;
        }
        .nav-icon-5.open span:nth-child(2){
            opacity:0;
        }
        .nav-icon-5.open span:nth-child(3){
            transform: rotate(-45deg);
            top: 13px;
        }
    }
}
@media (min-width: 375px) {
    header{
        z-index: 999!important;
        div#navbarSupportedContent{
            background: $white;
        }
    }
    main{
        section#jumbotron{
            img{
                z-index: -1;
                height: 120vh;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                

            }
        }
        section#jumb_content{
            height: 100vh;
            .container{
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        section#features{
            padding: 10rem 0;
            
            .border_col_feature {
                border-right: 2px solid $border_color;
                margin: auto 0;
            }
            .border_col_feature:last-child() {
                border-right: 0; 
            }
            .feature_icon{
                img{
                    width: auto;
                    height: 90px;
                }
            }
        }
        section#story{
            padding: 10rem 0;
            .owl-nav{
                position: absolute;
                bottom: -2rem;
                left:30%;
                button span{
                    border-radius: 10px;
                    padding: 8px 30px;
                    font-size: 2rem;
                }
                button.owl-prev span{
                    background-color: $green;
                    color: $white;
                }
                button.owl-next span{
                    background-color: $gray;
                    color: $green;

                }
            }
        }
        section#services{
            padding: 10rem 0;
        }
        section#products{
            padding: 10rem 0;
            .products_img{

                img{
                    width: 100%;
                    height: 100vh;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    z-index: -1;
                }
            }
            .col{
                .products_tag{
                  top: -54px;
                  left: 15px;
                }
                img{
                    width: 100%;
                    height: 170px;
                    object-fit: cover;
                    background-position: center;
                }
            }
        }
        section#gallery{
            .col{
                img{
                    width: 100%;
                    height: 274px;
                    object-fit: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        section#newsupdates{
            padding: 12rem 0;
            ul.list-group{
                li.list-group-item{
                    a{
                        img{
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
            }
        }
        section#partner{
            padding: 10rem 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;
            .container{
                z-index: 5;
            }
            .bg-white{
                width: 100%;
                height: 200vh;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                opacity: .9;
            }
        }
        // products page
        section#jumbotron_product{
            height: 60vh;
            overflow: hidden;
            img{
                z-index: -1;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 60vh;
            }
            .container{
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }

        section#product_lists{
            padding: 8rem 0;
            .card{
                img{
                    object-fit: cover;
                    height: 250px;
                }
            }
            .featured_products{
                a{
                    
                    img{
                        height: 150px;
                    }
                }
            }
            #recent_products{
                ul.list-group li a
                { 
                    span.bg-success.position-absolute.z-1{
                        padding: 4px 12px;
                        border-top-left-radius: 1rem;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        // contact page
        section#contact{
            padding:8rem 0;
            iframe{
                height: 500px;
            }
        }

        // about us
        section#jumbotron_about{
            height: 60vh;
            overflow: hidden;
            img{
                opacity: .2;
                z-index: -1;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 60vh;
            }
            .container{
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        section#about{
            .novel_portfolio{
                padding: 5rem 0;
            }
            .who_are_are{
                padding: 5rem 0;
            }
            .certified_toll{
                padding: 7rem 0 0 0;
                img{
                    width: 100%;
                    height: 500px;
                }
                .certified_toll_content{
                    padding: 5rem 0;
                    .certified_icon{
                        img{
                            width: auto;
                            height: 200px;
                        }
                    }
                }
            }
            .organic{
                
                height: 125vh;
                overflow: hidden;
                img{
                    width: auto;
                    height: 206vh;
                    background-repeat: no-repeat;
                    background-position:right;
                    background-size: cover;
                    z-index: -5;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .container{
                    padding: 0 0 0;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .innovative{
                padding: 8rem 0;
            }
            .committed{
                padding: 8rem 0;
            }
            .mission_vision{
                padding: 8rem 0;
                .vision{
                    img{
                        width: auto;
                        height: 120px;
                    }
                }
            }
            .core_values{
                padding: 8rem 0;
                .d-flex{
                    img{
                        width: auto;
                        height: 110px;
                    }
                }
            }
            .quality_standard{
                padding: 10rem 0;
            }
        }
        // blog
        section#blog{
            padding: 10rem 0;
            .card{
                a img{
                    object-fit: cover;
                    width: 100%;
                    height: 320px;
                }
            }

            #blog_recent{
                ul.list-group li a
                { 
                    span.bg-success.position-absolute.z-1{
                        padding: 4px 12px;
                        border-top-left-radius: 1rem;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        // careers
        section#careers{
            padding: 10rem 0;
            .career_img{
                img{
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                }
            }
            .career_list_opening{
                ul.list-group li a
                { 
                    span.bg-success.position-absolute.z-1{
                        padding: 4px 12px;
                        border-radius: .5rem;
                    }
                    img{
                        width: 260px;
                        height: 100px;
                    }
                }
            }
        }
        // team
        section#team{
            padding: 8rem 0;
            .team_img{
                img{
                    width: 100%;
                    height: 350px;
                }
            }
        }
    }

    footer{
        .row{
            padding: 10rem 0;
        }
        .input-group > .form-control{
            z-index: 1!important;
        }
        .input-group .btn{
            z-index: 5!important;
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    main{
        section#jumbotron{
            img{
                z-index: -1;
                height: 170vh;
            }
        }
        section#jumb_content{
            height: 170vh;
            .container{
                top: 45%;
                transform: translate(-50%,-45%);
            }
        }
        section#features{
            .border_col_feature {
                border-right: 0px solid $border_color;
            }
        }

        section#partner{
            .bg-white{
                height: 500vh;
            }
        }
         // products page
         section#jumbotron_product{
            height: 100vh;
            overflow: hidden;
            img{
                height:100vh;
            }
            .container{
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }

        section#product_lists{
            padding: 10rem 0;

            .featured_products{
                a{
                    
                    img{
                        height: 250px;
                    }
                }
            }
            #recent_products{
                ul.list-group li a
                { 
                    span.bg-success.position-absolute.z-1{
                        padding: 4px 12px;
                        border-top-left-radius: 1rem;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        // contact page
        section#contact{
            padding: 10rem 0;
            iframe{
                height: 900px;
            }
        }
         // about us
         section#jumbotron_about{
            height: 100vh;
            img{
                height: 100vh;
            }
        }
        section#about{
            .novel_portfolio{
                padding: 10rem 0;
            }
            .who_are_are{
                padding: 10rem 0;
            }
            .certified_toll{
                padding: 10rem 0 0 0;
                img{
                    width: 100%;
                    height: 500px;
                }
                .certified_toll_content{
                    .certified_icon{
                        img{
                            width: auto;
                            height: 200px;
                        }
                    }
                }
            }
            .organic{
                height: 180vh;
                img{
                    height: 280vh;
                }
            }
            .innovative{
                padding: 10rem 0;
            }
            .committed{
                padding: 10rem 0;
            }
            .mission_vision{
                padding: 10rem 0;
                .vision{
                    img{
                        height: 90px;
                    }
                }
            }
            .core_values{
                padding: 10rem 0;
                .d-flex{
                    img{
                        width: auto;
                        height: 110px;
                    }
                }
            }
            .quality_standard{
                padding: 10rem 0;
            }
        }

         // blog
         section#blog{
            padding: 8rem 0;
        }
        // team
        section#team{
            .team_img{
                img{
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 350px;
                }
            }
        }
    }

    footer{
        .row{
            padding: 10rem 0;
        }
        .input-group > .form-control{
            z-index: 1!important;
        }
        .input-group .btn{
            z-index: 5!important;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    main{
        section#jumbotron{
            img{
                z-index: -1;
                height: 100vh;
            }
        }
        section#jumb_content{
            height: 100vh;
            .container{
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        section#features{
            .border_col_feature {
                border-right: 2px solid $border_color;
            }
        }
        section#products{
            .col{
                img{
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                    background-position: center;
                }
            }
        }
        section#partner{
            .bg-white{
                height: 500vh;
            }
        }
        // products page
        section#jumbotron_product{
            height: 45vh;
            img{
                height:45vh;
            }
        }
        
        section#product_lists{
            padding: 10rem 0;
        
            .featured_products{
                a{
                                
                    img{
                        height: 250px;
                    }
                }
            }
            #recent_products{
                ul.list-group li a
                { 
                    span.bg-success.position-absolute.z-1{
                        padding: 4px 12px;
                        border-top-left-radius: 1rem;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        // contact page
        section#contact{
            padding: 10rem 0;
            iframe{
                height: 350px;
            }
        }
        // about us
        section#jumbotron_about{
            height: 45vh;
            img{
                height: 45vh;
            }
        }
        section#about{
        .novel_portfolio{
            padding: 10rem 0;
        }
        .who_are_are{
            padding: 10rem 0;
        }
        .certified_toll{
                    padding: 10rem 0 0 0;
                    img{
                        width: 100%;
                        height: 500px;
                    }
                            .certified_toll_content{
                                .certified_icon{
                                    img{
                                        width: auto;
                                        height: 200px;
                                    }
                                }
                            }
                }
                .organic{
                    height: 70vh;
                    img{
                        height: 129vh;
                        top: 57vh;
                    }
                }
                .innovative{
                            padding: 10rem 0;
                }
                .committed{
                            padding: 10rem 0;
                }
                .mission_vision{
                            padding: 10rem 0;
                            .vision{
                                img{
                                    height: 90px;
                                }
                            }
                }
                .core_values{
                            padding: 10rem 0;
                            .d-flex{
                                img{
                                    width: auto;
                                    height: 110px;
                                }
                            }
                }
                .quality_standard{
                            padding: 10rem 0;
                }
        }
        // team
        section#team{
            padding: 10rem 0;
            .team_img{
                img{
                    height: 200px;
                }
            }
        }
    }

    footer{
        .row{
            padding: 6rem 0;
        }
        .input-group > .form-control{
            z-index: 1!important;
        }
        .input-group .btn{
            z-index: 5!important;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    header{
        div#navbarSupportedContent{
            background: none;
        }
    }
    main{
        section#jumbotron{
            img{
                z-index: -1;
                height: 100vh;
            }
        }
        section#jumb_content{
            height: 100vh;
            .container{
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        section#features{
            .border_col_feature {
                border-right: 2px solid $border_color;
            }
        }

        section#products{
            .col{
                img{
                    width: 100%;
                    height: 320px;
                    object-fit: cover;
                    background-position: center;
                }
            }
        }

        section#partner{
            .bg-white{
                height: 500vh;
            }
        }
         // products page
         section#jumbotron_product{
            height: 45vh;
            img{
                height:45vh;
            }
        }
        
        section#product_lists{
            padding: 10rem 0;
        
            .featured_products{
                a{
                                
                    img{
                        height: 250px;
                    }
                }
            }
            #recent_products{
                ul.list-group li a
                { 
                    span.bg-success.position-absolute.z-1{
                        padding: 4px 12px;
                        border-top-left-radius: 1rem;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        // contact page
        section#contact{
            padding: 10rem 0;
            iframe{
                height: 600px;
            }
        }
         // products page
         section#jumbotron_product{
            height: 45vh;
            img{
                height:45vh;
            }
        }
        
        section#product_lists{
            padding: 10rem 0;
        
            .featured_products{
                a{
                                
                    img{
                        height: 250px;
                    }
                }
            }
            #recent_products{
                ul.list-group li a
                { 
                    span.bg-success.position-absolute.z-1{
                        padding: 4px 12px;
                        border-top-left-radius: 1rem;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        // contact page
        section#contact{
            padding: 10rem 0;
            iframe{
                height: 350px;
            }
        }
           // blog
           section#blog{
            padding: 10rem 0;
        }
        // team
        section#team{
            padding: 10rem 0;
            .team_img{
                img{
                    width: 100%;
                    height: 350px;
                }
            }
        }
    }

    footer{
        .row{
            padding: 10rem 0;
        }
        .input-group > .form-control{
            z-index: 1!important;
        }
        .input-group .btn{
            z-index: 5!important;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    main{
        section#jumbotron{
            img{
                z-index: -1;
                height: 100vh;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        section#jumb_content{
            height: 100vh;
            .container{
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        section#features{
            padding: 10rem 0;
            
            .border_col_feature {
                border-right: 2px solid $border_color;
                margin: auto 0;
            }
            .border_col_feature:last-child() {
                border-right: 0; 
            }
            .feature_icon{
                img{
                    width: auto;
                    height: 90px;
                }
            }
        }
        section#story{
            .owl-nav{
                position: absolute;
                bottom: 5rem;
                left:-8%;
                button span{
                    border-radius: 10px;
                    padding: 8px 30px;
                    font-size: 2rem;
                }
                button.owl-prev span{
                    background-color: $green;
                    color: $white;
                }
                button.owl-next span{
                    background-color: $gray;
                    color: $green;

                }
            }
        }
        section#services{
            padding: 10rem 0;
        }
        section#products{
            padding: 10rem 0;
            .products_img{

                img{
                    width: 100%;
                    height: 100vh;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    z-index: -1;
                }
            }
            .col{
                .products_tag{
                  top: -86px;
                  left: 15px;
                }
                img{
                    width: 100%;
                    height: 230px;
                    object-fit: cover;
                    background-position: center;
                }
            }
        }
        section#gallery{
            .col{
                img{
                    width: 100%;
                    height: 274px;
                    object-fit: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        section#newsupdates{
            padding: 12rem 0;
            ul.list-group{
                li.list-group-item{
                    a{
                        img{
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
            }
        }
        section#partner{
            padding: 10rem 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;
            .container{
                z-index: 5;
            }
            .bg-white{
                width: 100%;
                height: 200vh;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                opacity: .9;
            }
        }
        
        // products page
        section#jumbotron_product{
            height: 60vh;
            overflow: hidden;
            img{
                z-index: -1;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: unset;
            }
            .container{
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }

        section#product_lists{
            padding: 10rem 0;

            .featured_products{
                a{
                    
                    img{
                        height: 250px;
                    }
                }
            }
            #recent_products{
                ul.list-group li a
                { 
                    span.bg-success.position-absolute.z-1{
                        padding: 4px 12px;
                        border-top-left-radius: 1rem;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        // contact page
        section#contact{
            padding: 10rem 0;
            iframe{
                height: 900px;
            }
        }
        // about us
        section#jumbotron_about{
            height: 60vh;
            overflow: hidden;
            img{
                opacity: .2;
                z-index: -1;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: unset;
            }
            .container{
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        section#about{
            .novel_portfolio{
                padding: 10rem 0;
            }
            .who_are_are{
                padding: 10rem 0;
            }
            .certified_toll{
                padding: 10rem 0 0 0;
                img{
                    width: 100%;
                    height: 500px;
                }
                .certified_toll_content{
                    padding: 5rem 0;
                    .certified_icon{
                        img{
                            width: auto;
                            height: 200px;
                        }
                    }
                }
            }
            .organic{
                padding: 10rem 0;
                height: 122vh;
                img{
                    width: 100%;
                    height: 122vh;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    z-index: -1;
                }
                .container{
                    padding: 0 0 0;
                    left:50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                }
            }
            .innovative{
                padding: 10rem 0;
            }
            .committed{
                padding: 10rem 0;
            }
            .mission_vision{
                padding: 10rem 0;
                .vision{
                    img{
                        width: auto;
                        height: 120px;
                    }
                }
            }
            .core_values{
                padding: 10rem 0;
                .d-flex{
                    img{
                        width: auto;
                        height: 110px;
                    }
                }
            }
            .quality_standard{
                padding: 10rem 0;
            }
        }
         // careers
         section#careers{
            padding: 10rem 0;
            .career_img{
                img{
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                }
            }
            .career_list_opening{
                ul.list-group li a
                { 
                    span.bg-success.position-absolute.z-1{
                        padding: 12px 19px;
                        border-radius: .5rem;
                    }
                    img{
                        width: 260px;
                        height: 150px;
                    }
                }
            }
        }
        // team
        section#team{
            padding: 10rem 0;
            .team_img{
                img{
                    width: 100%;
                    height: 350px;
                }
            }
        }
    }

    footer{
        .row{
            padding: 10rem 0;
        }
        .input-group > .form-control{
            z-index: 1!important;
        }
        .input-group .btn{
            z-index: 5!important;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}

