<!-- wp:block -->
<header class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-transparent">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="assets/imgs/herbanext.png" alt="" width="auto" height="42">
          </a>
          <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="wrapper me-1">
                <div class="icon_ni nav-icon-5">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
          </button>
          <div class="collapse navbar-collapse ps-5 ps-lg-0 py-5 py-lg-0 rounded-md-auto rounded-4" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
                <li class="nav-item me-3">
                  <a class="nav-link active" aria-current="page" href="products.html">Products</a>
                </li>
                <li class="nav-item dropdown me-3">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Services <i class="bi bi-chevron-down"></i>
                  </a> 
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="toll_manufacturing.html">Toll Manufacturing</a></li>
                      <li><a class="dropdown-item" href="laboratory.html">Laboratory</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="product_development.html">Product Development</a></li>
                      <li><a class="dropdown-item" href="ingredient_development.html">Ingredient Development</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      News <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                        <li><a class="dropdown-item" href="#">Publications</a></li>
                        <li><a class="dropdown-item" href="careers.html">Careers</a></li>
                        <li><a class="dropdown-item" href="#">training and Seminars</a></li>
                    </ul>
                </li>
                <li class="nav-item me-3">
                <a class="nav-link" href="partner.html">Partner with us</a>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      About <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" href="about.html">Our story</a></li>
                        <li><a class="dropdown-item" href="#">Our Partners</a></li>
                        <li><a class="dropdown-item" href="#">Our Science</a></li>
                        <li><a class="dropdown-item" href="team.html">Our Team</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-people me-2"></i>Become a partner<i class="bi bi-arrow-right ms-2"></i></a></li>
                    </ul>
                </li>

                <li class="nav-item me-3">
                  <a class="nav-link" href="contact.html">contact</a>
                </li>
              </ul>
            
            <div class="d-flex flex-row gap-3 mt-4 mt-md-auto">
                <div class="shop">
                    <a href="products.html" class="btn btn-success"><i class="bi bi-shop"></i></a>
                </div>
                <div class="login">
                    <a href="#!" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#loginModal"><i class="bi bi-person-circle"></i></a>
                </div>
            </div>
          </div>
        </div>
    </nav>
</header>
<!-- wp:block -->